name: Go Test

on:
  pull_request:
  push:
    branches: ["main"]
    tags: ["v*"]
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.event_name == 'push' && github.sha || github.ref }}
  cancel-in-progress: true

jobs:
  go-test:
    uses: ipdxco/unified-github-workflows/.github/workflows/go-test.yml@v1.0
    with:
      os-versions: '["ubuntu", "macos"]'
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
  go-test-windows:
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
    uses: ipdxco/unified-github-workflows/.github/workflows/go-test.yml@v1.0
    with:
      os-versions: '["windows"]'
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
